@charset "utf-8";

.navWrap{background-color: #1D5DA4;}
.navWrap .nav{width: 980px;margin: 0 auto}
.navWrap .nav ul{}
.navWrap .nav ul li{float: left;width:calc( 980px / 6 );border-left:1px solid #fff}
.navWrap .nav ul li:last-child{border-right:1px solid #fff}
.navWrap .nav ul li a{
    display: block;color:#fff;height: 45px;
    text-align: center;line-height:45px;
}

/* .boxWrap{width: 500px;height: 500px;background-color: pink;position: relative;}
.box{
    width: 100px;height: 100px;background-color: #f00;
    position: absolute;
    left: 50%;top: 50%;
    margin-left: -50px;margin-top: -50px;
    left:calc( 50% - 50px );
    top:calc( 50% - 50px );
} */


.boxWrap{
    width: 500px;height: 500px;background-color: pink;
    display: flex;justify-content:center;align-items: center;
}
.box{
    width: 100px;height: 100px;background-color: #f00;
}